#logo {
  margin:0 auto;
  position:relative;
  height: inherit;
  width: 70%;
  left: 85px;
}

#heading {
  height: 700px;
}

.logo-color-animation {
  animation: color-change 0.4s linear 1;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
  stroke:#1a6b69;
}
@keyframes color-change {
  from {
    stroke:#1a6b69;
  }
  to {
    stroke:aqua;
  }
}

#logo-diagonal-right, #logo-diagonal-left, #logo-corner-top, #logo-corner-down {
  position:absolute;
  margin:0 auto;
  overflow:hidden;
}

#github-logo {
  animation: icon-animation 0.1s linear 1;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
  pointer-events:none;
  padding: 10px;
  margin:0 auto;
}

@keyframes icon-animation {
  from{
    pointer-events:none;
    fill:#000000;
    filter: none;
  }
  to{
    height:140px;
    width:140px;
    pointer-events: visiblePainted;
    fill:aqua;
    filter:url(#glow);
  }
}

#logo-corner-down {
  animation: logo-corner-down-turning-animation 4s cubic-bezier(0,0,1,1) 1;
}

@keyframes logo-corner-down-turning-animation {
  from {
    top: 50px;
    left: 50px;
  }
  to {
    top: 0px;
    left: 0px;
  }
}

#logo-corner-top {
    animation: logo-corner-top-turning-animation 4s cubic-bezier(0,0,1,1) 1;
}

@keyframes logo-corner-top-turning-animation {
  from {
    top: -50px;
    left: -50px;
  }
  to {
    top: 0px;
    left: 0px;
  }
}

#icons.icon-circle { 	
  background-color: rgba(0,0,0,0);
  border:5px solid rgba(0,183,229,0.9);
  opacity:.9;
  border-right:5px solid rgba(0,0,0,0);
  border-left:5px solid rgba(0,0,0,0);
  border-radius:50px;
  box-shadow: 0 0 35px #2187e7;
  width:50px;
  height:50px;
  margin:0 auto;
  -moz-animation:spinPulse 1s infinite ease-in-out;
  -webkit-animation:spinPulse 1s infinite linear;
  animation-fill-mode: forwards;
} 

#icons.icon-circle1 {
  background-color: rgba(0,0,0,0);
  border:5px solid rgba(0,183,229,0.9);
  opacity:.9;
  border-left:5px solid rgba(0,0,0,0);
  border-right:5px solid rgba(0,0,0,0);
  border-radius:50px;
  box-shadow: 0 0 15px #2187e7;
  width:30px;
  height:30px;
  margin:0 auto;
  position:relative;
  top:-50px;
  -moz-animation:spinoffPulse 1s infinite linear;
  -webkit-animation:spinoffPulse 1s infinite linear;
  animation-fill-mode: forwards;
  
} 

@-moz-keyframes spinPulse {
  0% {
    -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;
  } 	
  
  50% {
    -moz-transform:rotate(145deg);
    opacity:1;
  } 	
  
  100% {
    -moz-transform:rotate(-320deg);
    opacity:0; 
  } 
} 

@-moz-keyframes spinoffPulse {
  0% {
    -moz-transform:rotate(0deg);
  }
  100% {
    -moz-transform:rotate(360deg);
  }
} 

@-webkit-keyframes spinPulse {
  0% { -webkit-transform:rotate(160deg);
    opacity:0; box-shadow:0 0 1px #2187e7;
  }
  50% {
    -webkit-transform:rotate(145deg);
    opacity:1;
  }
  100% {
    -webkit-transform:rotate(-320deg);
    opacity:0;
  } 
}

@-webkit-keyframes spinoffPulse {
  0% {
    -webkit-transform:rotate(0deg);
  }
  100% {
    -webkit-transform:rotate(360deg); 
  }
}
body {
    overflow: hidden;
}

//Glow
#heading svg {
  -webkit-animation: glow 1.5s ease-in-out infinite alternate;
  -moz-animation: glow 1.5s ease-in-out infinite alternate;
  animation: glow 1.5s ease-in-out infinite alternate;
}
/*glow*/
@keyframes glow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

/*webkit glow*/
@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

/*moz glow*/
@-moz-keyframes glow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

.icons-left {
  animation: icon-left-move 0.4s ease-in 1;
  animation-delay: 4.5s;
  left: -150px;
  top: 40%;
  position: absolute;
  animation-fill-mode: forwards;
}

@keyframes icon-left-move {
  from{
  }
  to{
left:-200px;
  }
}
