#logo {
  width:80%;
  width:50%;
  margin:auto;
}

img.logo-corner {
  z-index:1
  position: relative;
}

img.logo-diagonal-right {
  z-index:2
  position: relative;
}

img.logo-diagonl-left {
  position: relative;
}
