#logo {
  width:50%;
  margin:auto;
  position:relative;
}

img.logo-corner-top {
  position: absolute;
}

img.logo-diagonal-right {
  position: absolute;
}

img.logo-diagonal-left {
  position: absolute;
}

img.logo-corner-down {
  position: absolute;
}
